.timer {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: auto;
}
.buttons {
	position: relative;
}
.breakTime {
	font-size: 13px;
}
.is-centered {
	text-align: center;
}
.settings {
	width: 20px !important;
    height: 20px !important;
	margin-left: 280px;
	margin-bottom: 3px;
	margin-right: 3px;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	color: black;

}
.settings:hover {
	color: green;
}